<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stock Prices Prediction</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">

</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('login') }}">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Stock Prices Prediction</h3>
    </div>

    <div id='chart' class='chart'></div>
    <div>

      <form action="{{ url_for("predict")}}" method="post">
        <div>
          <label class="home-label" for="stocksymbol">Enter Stock Symbol (e.g NKE):</label><br>
          <input type="text" id="stocksymbol" name="symbol" placeholder="Enter Stock Symbol">
        </div><br>
        <div>
          <label class="home-label" for="startdate">Enter Start Date (e.g 2020-01-01):</label><br>
          <input type="text" id="startdate" name="sdate" placeholder="Enter Start Date">
        </div><br>
        <div>
          <label class="home-label" for="predcolname">Prediction Column Name (e.g Close):</label><br>
          <input type="text" id="predcolname" name="predcolname" placeholder="Enter Prediction Column Name ">
        </div><br>
        <div>
          <label class="home-label" for="dayspred">Number of days to predict in future:</label><br>
          <input type="text" id="dayspred" name="dayspred" placeholder="Enter number of days to predict in future">
        </div><br>
        <button type="submit" class="btn-primary">Start Training</button>
      </form>

    </div>

    <!-- <div class="jumbotron">
        <h1 class="display-3">Thank You</h1>
        <p class="lead">You can know use our platform</p>
      </div> -->

    <!-- <footer class="footer">
        <p>&copy; Store 2017</p>
      </footer> -->

  </div> <!-- /container -->

</body>




</html>